@import "variables";

html {
  font-size: 62.5%;
}

body {
  background: $yellow;
  font-family: 'Open Sans', sans-serif;
  color: #222;
  line-height: 1.5;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1rem;
}

nav {
  display: flex;
  flex-direction: column;
  background: $black;
  height: 100%;
  width: 20rem;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  a {
    color: white;
    padding: 1rem;
  }
  a:hover {
    background: #555;
  }
  .fa {
  margin-right: 1rem;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}