about.slim

vfpr3k started as an idea. 

i dont uy a lot of vfp, but when i do, i buy them as an investment. 
if daiya is on a 2/1 sale, i'm buying 10 bags. 
i dont even like marshmallows, but if i see those dandies on sale, you bet i'm buying two bags.
the price can only go up!

i have intense brand loyalty. 
i've been burned too many times by expensive vegan products that are flavorless or just gross. word of mouth only goes so far when you only know two other non-meat/dairy consumers and they both live with you.

my hope is that people will use this app to find products they love. either through looking at review averages, or finding someone who's taste buds you trust. and following them.