/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 *= require font-awesome
 */
$blue: #3BCEAC;
$pink: #fb8fab;
$green: #0EAD69;
$yellow: #FFD23F;
$purple: #540D6E;
$black: #444;
$blonde: #F4F1BB;


body {
	background: $yellow;
	font-family: 'Open Sans', sans-serif;
}

.fa-bars {
	font-size: 25px !important;
}

.menu-bars {
	align-self: flex-end;
	color: white;
	padding: 8px 15px;
}

nav {
  display: flex;
  flex-direction: column;
	background: $black;
	height: 100%;
	width: 200px;
	z-index: 1;
	position: fixed;
  top: 0;
  left: 0;
	a {
		color: white;
		padding: 10px;
	}
	a:hover {
		background: #555;
	}
}

h1, h2 {
	font-family: 'Pacifico', cursive;
}

h3 {}

a {
	text-decoration: none;
	color: $black;
}

.container {
	
}

.category-list {
	background: #E8E8E8;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.category-detail {
  text-align: center;
	background: white;
	border-radius: 5px;
	box-shadow: 0px 3px 5px #ccc;
	height: 100px;
	padding: 10px;
	margin: 10px;
	width: 100px;
}

label {
	display: block;
}

input[type="submit"] {
	display: block;
}